src/main/java/member/member.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://member.service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://member.service/" name="MemberServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://member.service/" schemaLocation="http://localhost:9000/member?xsd=1"/>
</xsd:schema>
</types>
<message name="save">
<part name="parameters" element="tns:save"/>
</message>
<message name="saveResponse">
<part name="parameters" element="tns:saveResponse"/>
</message>
<message name="getAll">
<part name="parameters" element="tns:getAll"/>
</message>
<message name="getAllResponse">
<part name="parameters" element="tns:getAllResponse"/>
</message>
<message name="Authentication">
<part name="parameters" element="tns:Authentication"/>
</message>
<message name="AuthenticationResponse">
<part name="parameters" element="tns:AuthenticationResponse"/>
</message>
<portType name="MemberService">
<operation name="save">
<input wsam:Action="http://member.service/MemberService/saveRequest" message="tns:save"/>
<output wsam:Action="http://member.service/MemberService/saveResponse" message="tns:saveResponse"/>
</operation>
<operation name="getAll">
<input wsam:Action="http://member.service/MemberService/getAllRequest" message="tns:getAll"/>
<output wsam:Action="http://member.service/MemberService/getAllResponse" message="tns:getAllResponse"/>
</operation>
<operation name="Authentication">
<input wsam:Action="http://member.service/MemberService/AuthenticationRequest" message="tns:Authentication"/>
<output wsam:Action="http://member.service/MemberService/AuthenticationResponse" message="tns:AuthenticationResponse"/>
</operation>
</portType>
<binding name="MemberServiceImplPortBinding" type="tns:MemberService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="save">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Authentication">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MemberServiceImplService">
<port name="MemberServiceImplPort" binding="tns:MemberServiceImplPortBinding">
<soap:address location="http://localhost:9000/member"/>
</port>
</service>
</definitions>