src/main/java/comment/comment.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://comment.service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://comment.service/" name="CommentServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://comment.service/" schemaLocation="http://localhost:9000/comment?xsd=1"/>
</xsd:schema>
</types>
<message name="save">
<part name="parameters" element="tns:save"/>
</message>
<message name="saveResponse">
<part name="parameters" element="tns:saveResponse"/>
</message>
<message name="getComment">
<part name="parameters" element="tns:getComment"/>
</message>
<message name="getCommentResponse">
<part name="parameters" element="tns:getCommentResponse"/>
</message>
<message name="getAll">
<part name="parameters" element="tns:getAll"/>
</message>
<message name="getAllResponse">
<part name="parameters" element="tns:getAllResponse"/>
</message>
<portType name="CommentService">
<operation name="save">
<input wsam:Action="http://comment.service/CommentService/saveRequest" message="tns:save"/>
<output wsam:Action="http://comment.service/CommentService/saveResponse" message="tns:saveResponse"/>
</operation>
<operation name="getComment">
<input wsam:Action="http://comment.service/CommentService/getCommentRequest" message="tns:getComment"/>
<output wsam:Action="http://comment.service/CommentService/getCommentResponse" message="tns:getCommentResponse"/>
</operation>
<operation name="getAll">
<input wsam:Action="http://comment.service/CommentService/getAllRequest" message="tns:getAll"/>
<output wsam:Action="http://comment.service/CommentService/getAllResponse" message="tns:getAllResponse"/>
</operation>
</portType>
<binding name="CommentServiceImplPortBinding" type="tns:CommentService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="save">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getComment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CommentServiceImplService">
<port name="CommentServiceImplPort" binding="tns:CommentServiceImplPortBinding">
<soap:address location="http://localhost:9000/comment"/>
</port>
</service>
</definitions>