src/main/java/place/place.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://place.service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://place.service/" name="PlaceServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://place.service/" schemaLocation="http://localhost:9000/place?xsd=1"/>
</xsd:schema>
</types>
<message name="save">
<part name="parameters" element="tns:save"/>
</message>
<message name="saveResponse">
<part name="parameters" element="tns:saveResponse"/>
</message>
<message name="getAll">
<part name="parameters" element="tns:getAll"/>
</message>
<message name="getAllResponse">
<part name="parameters" element="tns:getAllResponse"/>
</message>
<message name="getPlace">
<part name="parameters" element="tns:getPlace"/>
</message>
<message name="getPlaceResponse">
<part name="parameters" element="tns:getPlaceResponse"/>
</message>
<portType name="PlaceService">
<operation name="save">
<input wsam:Action="http://place.service/PlaceService/saveRequest" message="tns:save"/>
<output wsam:Action="http://place.service/PlaceService/saveResponse" message="tns:saveResponse"/>
</operation>
<operation name="getAll">
<input wsam:Action="http://place.service/PlaceService/getAllRequest" message="tns:getAll"/>
<output wsam:Action="http://place.service/PlaceService/getAllResponse" message="tns:getAllResponse"/>
</operation>
<operation name="getPlace">
<input wsam:Action="http://place.service/PlaceService/getPlaceRequest" message="tns:getPlace"/>
<output wsam:Action="http://place.service/PlaceService/getPlaceResponse" message="tns:getPlaceResponse"/>
</operation>
</portType>
<binding name="PlaceServiceImplPortBinding" type="tns:PlaceService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="save">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPlace">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PlaceServiceImplService">
<port name="PlaceServiceImplPort" binding="tns:PlaceServiceImplPortBinding">
<soap:address location="http://localhost:9000/place"/>
</port>
</service>
</definitions>